.container{
    margin: auto;
    width: 50%;;
    padding: 10px;
}
td{
    padding: 10px;
}
input{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    background-color: black;
    color: azure;
    border: 1px solid white;
    border-radius: 15px;
}
#display{
    width: max-content;
}
#first_row{
    padding-bottom: 10px;
}
h1{
    text-align: center;
    font-size: 500%;
    padding: 10px;
    font-weight: bolder;
    color: darkred;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
    padding: 40px;
    background-image: url("calc.jpg");
}